@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    text-align: center;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px;
    border-bottom: 2px solid #e3e3e3;
}
nav a{
    margin: 0 30px;
    text-decoration: none;
    color: #929292;
}
nav a:hover{
    color: black;
}
nav a.active{
    color: black;
}
header{
    padding-top: calc(50px + 1rem + 2px);
}
header h2{
    margin-top: 50px;
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 1.2em;
}
h2 + p{
    width: 800px;
    margin: 35px auto;
}
#cta-button{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(12, 12, 12);
    background: linear-gradient(to right, pink, rgb(48, 48, 179));
    border-radius: 1000px;
    display: inline-block;
    padding: 1em 3em;
    font-weight: 600;
    transition: 150ms ease;
}
#cta-button:hover{
    scale: 1.1;
}

